div.users {
    margin-top: 4rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 25px;
    border: 1px solid gainsboro;
    float: right;
    width: 157px;
}
div.users:hover {
    border: 1px solid darkgrey;
}
div.users img {
    width: 100%;
    height: auto;
}
div.about {
    padding: 10px;
    text-align: center;
}
img {
    width: 400px;
    height: 300px;
}
